body {
	color: #222;
	font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
	font-size: 1.0em;
	background-color: #EEE;
}

/* layout */
#layout {
	width: 95%
	margin: 0 auto;
	padding: 1%;
	background-color: #FFF;
}
#fields {
	width: 33%;
	padding: 1%;
	margin-left: 1%;
	background-color: #EEE;
}

#media {
	max-width: 64%;
}

#media .resource { text-align: center }
#media img {
	max-width: 100%;
}
#media .description  { max-width: 800px }
#media .title .metalabel { display: none }
#media .description .metalabel { display: none }
#media .title  {
	color: #222;
	font-size: 1.3em;
	font-weight: bold;
}
#media .link a.r_def {
	color: #222;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
}

/* annotation field */
.annotate-field {
	overflow: auto;
	background-color: auto;
	padding: 1% 0% 1% 0%;
	border-bottom: 1px solid #CCC;
}
.annotate-header {
	float: left;
	width: 48%;
}

.annotate-comment {
	      padding-top: 3%;
	      overflow: auto;
	      width: 100%;
	      clear: both;
	      }

.annotate-comment h3
{
 float: left;
 width: 48%;
 margin: 0 0 1% 0;
 font-size: 0.85em;
}

.annotate-unsure {
 overflow: auto;
 clear: both;
 font-size: 0.85em;
 float: right;
 width: 48%;
 margin: .5% ;
 border: 2px solid #EEE;
}
.annotate-header h3 {
	margin: 0 0 1%;
		    }

#image_annotation_done {
  background-color: white;
  border: 2px solid #AAAAAA;
  color: #3333AA;
  display: block;
  font-family: sans-serif;
  font-style: italic;
  margin: 5% 0.5% 0.5% 0.5%;
  min-width: 10em;
  width: 10%;
  padding: 1%;
  float: right;
  text-align: center;
  text-decoration: none;
}

.xannotate-field:hover:before {
 content:attr(alt);
 position: absolute;
 display: inline;
 padding: 10px;
 margin-top: 0%;
 max-width: 10%;
 background: #EEE;
 border-radius: 5px;
 border-style: solid;
 color: #666;
 font-size: .8em;
 font-weight: normal;
 font-style: italic;
}
.annotate-description {
	width: 100%;
	color: #666;
	margin: 0px;
	font-size: 0.8em;
	font-style: italic;
}
.annotate-field input.yui3-aclist-input {
	float: right;
	width: 48%;
	font-size: 1.1em;
	padding: 0%;
        margin: .5% .5%;
	border: 2px solid #AAA;
}

.annotate-comment-input {
     width: 48%;
     float: right;
     font-size: 1.3em;
     margin: .5% .5%;
     border: 2px solid #AAA;
     padding: 0;
}

#confirm-delete {
	    float: right;
	       }
.delete_dialog {
		   margin-top: 0;
		   margin-bottom: 0;
}

.taglist {
	font-size: 0.9em;
	width: 100%;
	float: right;
	clear: right;
	margin: 0;
	padding: 0;
}
.taglist li {
	list-style: none;
	margin: 1% 0;
	overflow: auto;
}
.taglist .commentButtons {
	width: 24%;
	margin-right: 1%;
	float: left;
	text-align: left;
}

.taglist .label {
	width: 43%;
	margin-left: 1%;
	float: left;
}
.taglist .remove {
	width: 5%;
	overflow: hidden;
	float: right;
}

.taglist .remove a {
	color: red;
	text-decoration: none;
}
.taglist .label a {
	text-decoration: none;
}
.taglist .screenName:before { content: '@'; }
.taglist .screenName:after { content: ':'; }
.taglist .screenName {
	float: left;
	text-align: right;
	width: 24%;
	margin-right: 1%;
}

.taglist .judgeButton:hover {

}
.taglist .judgeButton {
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .3em;
	cursor: crosshair;
}
.taglist .judgeButton img {
	height: 2ex;
	vertical-align: middle;
}
.taglist .checked img {
	height: 3ex;
}
.taglist .commentButton img {
	height: 2.5ex;
	vertical-align: middle;
	}
/* resource */
.resource h3 {
	margin: 0 0 6px;
}

.yui3-overlay {
	padding: 10px;
	background-color: white;
	border: solid gray 1pt;
	position: absolute;
	width: 200px;
	z-index: 1;
}

.yui3-overlay .altLabel {
	color: gray;
	font-size: 0.8em;
	padding-right: 0.5em;
}
.yui3-overlay .altLabel:after {
	content: ";"
}
