/*
Style rules we need in both object and fragment modes.
*/

.annotorious-editor {
   text-align:left;
}

.yui3-overlay {
    padding: 10px;
    background-color: white;
    border: solid gray 1pt;
    position: absolute;
    width: 400px;
    z-index: 1;
}

.yui3-overlay .altLabel {
	color: gray;
	font-size: 0.8em;
	padding-right: 0.5em;
}
.yui3-overlay .altLabel:after {
	content: ";"
}

.yui3-overlay img.depiction {
    max-width: 100%;
}

.mediasection .resource { 
    text-align: center;
    font-size: x-large;
    font-weight: lighter;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.mediasection .title .metalabel { display: none }
.mediasection .description .metalabel { display: none }
.mediasection .title  {
	color: #222;
	font-size: 1.3em;
	font-weight: bold;
}
.mediasection .link a.r_def {
	color: #222;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
}
