table.dashboard.an_dashboard_table {
	       text-align: right;
	       border-collapse: collapse;
	       border-top:    1pt solid grey;
	       border-bottom: 1pt solid grey;

	   }
.an_dashboard_table td, .an_dashboard_table th {
						border-top:    1pt solid grey;
						border-bottom: 1pt solid grey;
						padding-left: 1%;
			}
