@import "deniche-tags.css";

.media img {
  max-width: 100%;
}

textarea.annotorious-editor-text { display: none; } /* disable basic annotorious tagging area */
div a.annotorious-popup-button-delete { display: none; }
